In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import math

In [24]:
df_dirty = pd.read_csv('M:\TRAINING\CODING_DOJO\PROJECTS\Sales_Predictions\sales_predictions.csv')
df_dirty.head()
# df_dirty.info()

                                                                                                                                                                                           <<<<<<< Updated upstream
Item_Identifier Item_Weight Item_Fat_Content Item_Visibility Item_Type             Item_MRP Outlet_Identifier Outlet_Establishment_Year Outlet_Size Outlet_Location_Type Outlet_Type              Item_Outlet_Sales
FDA15           9.3         Low Fat          0.016047301     Dairy                 249.8092 OUT049            1999                      Medium      Tier 1               Supermarket Type1                 3735.138
DRC01           5.92        Regular          0.019278216     Soft Drinks           48.2692  OUT018            2009                      Medium      Tier 3               Supermarket Type2                 443.4228
FDN15           17.5        Low Fat          0.016760075     Meat                  141.618  OUT049            1999                      Medium      Tier 1               Supermarket Type1                  2097.27
FDX07           19.2        Regular          0               Fruits and Vegetables 182.095  OUT010            1998                      NaN         Tier 3               Grocery Store                       732.38

After importing the csv it looks like we are having some issues...
1. every collumn is an index except one.
2. we have missing values

In [25]:
df_dirty.reset_index(inplace = True)

In [26]:
df_dirty.iloc[0]
df_dirty.columns = df_dirty.iloc[0]
# df_dirty

made progress by pushing the headings up now i just need to remove the first row from the df as it is a duplicate of the headers. i think this can be done by the drop() method but will have to google to confirm

In [27]:
# df_dirty.iloc[0]
df_dirty.drop(0, inplace = True)

we are getting there - the headers are in place - now lets look athe the missing values and see what else we need to clean up

In [29]:
df_dirty.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17049 entries, 1 to 17049
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            17049 non-null  object
 1   Item_Weight                14121 non-null  object
 2   Item_Fat_Content           17047 non-null  object
 3   Item_Visibility            17047 non-null  object
 4   Item_Type                  17047 non-null  object
 5   Item_MRP                   17047 non-null  object
 6   Outlet_Identifier          17047 non-null  object
 7   Outlet_Establishment_Year  17047 non-null  object
 8   Outlet_Size                12227 non-null  object
 9   Outlet_Location_Type       17047 non-null  object
 10  Outlet_Type                17047 non-null  object
 11  Item_Outlet_Sales          17047 non-null  object
dtypes: object(12)
memory usage: 1.7+ MB

looks like we have missing values in every column - i wonder if those are across the board - lets quickly do a drop nan all and see if we get some tighter columns

In [32]:
df_dirty.dropna(how = 'all', inplace = True)
df_dirty.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17049 entries, 1 to 17049
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            17049 non-null  object
 1   Item_Weight                14121 non-null  object
 2   Item_Fat_Content           17047 non-null  object
 3   Item_Visibility            17047 non-null  object
 4   Item_Type                  17047 non-null  object
 5   Item_MRP                   17047 non-null  object
 6   Outlet_Identifier          17047 non-null  object
 7   Outlet_Establishment_Year  17047 non-null  object
 8   Outlet_Size                12227 non-null  object
 9   Outlet_Location_Type       17047 non-null  object
 10  Outlet_Type                17047 non-null  object
 11  Item_Outlet_Sales          17047 non-null  object
dtypes: object(12)
memory usage: 1.7+ MB

that didnt seem to do much. lets see if we can find where those nan values are.

In [41]:
# df_dirty.isna().any()
df_dirty.tail()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
17045,FDS36,8.38,Regular,0.046982429,Baking Goods,108.157,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.285
17046,NCJ29,10.6,Low Fat,0.035186271,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
17047,FDN46,7.21,Regular,0.145220646,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
17048,DRG01,14.8,Low Fat,0.04487828,Soft Drinks,75.467,OUT046,1997,Small,Tier 1,Supermarket Type1,765.67
17049,>>>>>>> Stashed changes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

the last row is all NaN so lets drop that one for start

In [43]:
df_dirty.drop(17049, inplace = True)

In [50]:
# df_dirty[df_dirty.isnull().any(axis = 'rows')]

In [52]:
df_dirty[df_dirty['Item_Outlet_Sales'].isna()]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8524,=======,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

I desided to select a column that only had one NaN and locate its value. It turns out that it has the index of 8524. this is an index that isnt apearing on the tail. this makes me wonder if the index isnt sorted properly. I will perform that task now

In [61]:
# df_dirty.sort_index()
# df_dirty.iloc[8524]
df_dirty.loc[[8524]]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8524,=======,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

looks like i was wrong with it being at the end - row 8524 is all NaN - I will drop this now

In [63]:
df_dirty.drop(8524).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17047 entries, 1 to 17048
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            17047 non-null  object
 1   Item_Weight                14121 non-null  object
 2   Item_Fat_Content           17047 non-null  object
 3   Item_Visibility            17047 non-null  object
 4   Item_Type                  17047 non-null  object
 5   Item_MRP                   17047 non-null  object
 6   Outlet_Identifier          17047 non-null  object
 7   Outlet_Establishment_Year  17047 non-null  object
 8   Outlet_Size                12227 non-null  object
 9   Outlet_Location_Type       17047 non-null  object
 10  Outlet_Type                17047 non-null  object
 11  Item_Outlet_Sales          17047 non-null  object
dtypes: object(12)
memory usage: 1.7+ MB

that solved it so now lets lock that in with an inplace = True

In [64]:
df_dirty.drop(8524, inplace = True)

now all we have left are two columns that have multiple NaN values. these will require a closer look to see what is going on and if there is any patern there. for now i will deal with the Dtype to get this file down in size and to help with patern recognition within python.

### converting DType ###