In [1]:
import mysql.connector
from mysql.connector import errorcode

In [2]:
config = {
        'host': 'localhost',
        'user': 'root',
        'passwd': 'P!TV1p3r',
        'database': 'sales_predictions',
}

In [3]:
try:
    db = mysql.connector.connect(**config)
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Something is wrong with your user name or password")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")
    else:
        print(err)
# else:
#   db.close()

In [4]:
cursor = db.cursor()

In [5]:
# THIS LINE WAS USED TO CREATE A DATABASE
# cursor.execute('CREATE DATABASE testdatabase')


## Creating Tables
In the Cell below it looks like there is an error in the way my syntax is written to exicute a table inside my database. I will have to look into the current syntax for my version of mySQL

https://dev.mysql.com/doc/refman/8.0/en/create-table.html

In [6]:
# DB_NAME = 'testdatabase'
# TABLES = {}

# TABLES['outlets'] = (
#     '''CREATE TABLE IF NOT EXISTS 'outlets' (\
#     'outlet_identifier' VARCHAR(6) NOT NULL,\
#     'outlet_establishment_year' INT(4) NOT NULL,\
#     PRIMARY KEY ('outlet_identifier')\
#     ) ENGINE=InnoDB'''
#     )

the issue with the cell above was the quote marks. when running a tripple quote the interior quotes were throwing off mySQL - Thanks Noelle

In [7]:
DB_NAME = 'testdatabase'
TABLES = {}

TABLES['outlets'] = (
    '''
    CREATE TABLE IF NOT EXISTS outlets (\
    outlet_identifier VARCHAR(6) NOT NULL,\
    outlet_establishment_year INT(4) NOT NULL,\
    PRIMARY KEY (outlet_identifier)\
    ) ENGINE=InnoDB
    '''
    )

In [8]:
TABLES

{'outlets': '\n    CREATE TABLE IF NOT EXISTS outlets (    outlet_identifier VARCHAR(6) NOT NULL,    outlet_establishment_year INT(4) NOT NULL,    PRIMARY KEY (outlet_identifier)    ) ENGINE=InnoDB\n    '}

In [9]:
for table_name in TABLES:
    table_description = TABLES[table_name]
    try:
        print("Creating table {}: ".format(table_name), end='')
        cursor.execute(table_description)
    except mysql.connector.Error as err:
        if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
            print("already exists.")
        else:
            print(err.msg)
    else:
        print("OK")

Creating table outlets: OK

In [10]:
# cursor.close()
# db.close()