In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import math
import numpy as np
import jedi

In [2]:
df_dirty = pd.read_csv('sales_predictions.csv')
df_dirty.head()
df_dirty.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 17050 entries, ('Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility', 'Item_Type', 'Item_MRP', 'Outlet_Identifier', 'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type') to ('>>>>>>> Stashed changes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
Data columns (total 1 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   <<<<<<< Updated upstream  17048 non-null  object
dtypes: object(1)
memory usage: 507.0+ KB

After importing the csv it looks like we are having some issues...
1. every collumn is an index except one.
2. we have missing values

In [3]:
df_dirty.reset_index(inplace = True)

In [4]:
df_dirty.iloc[0]
df_dirty.columns = df_dirty.iloc[0]
# df_dirty

made progress by pushing the headings up now i just need to remove the first row from the df as it is a duplicate of the headers. i think this can be done by the drop() method but will have to google to confirm

In [5]:
# df_dirty.iloc[0]
df_dirty.drop(0, inplace = True)

we are getting there - the headers are in place - now lets look athe the missing values and see what else we need to clean up

In [6]:
df_dirty.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17049 entries, 1 to 17049
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            17049 non-null  object
 1   Item_Weight                14121 non-null  object
 2   Item_Fat_Content           17047 non-null  object
 3   Item_Visibility            17047 non-null  object
 4   Item_Type                  17047 non-null  object
 5   Item_MRP                   17047 non-null  object
 6   Outlet_Identifier          17047 non-null  object
 7   Outlet_Establishment_Year  17047 non-null  object
 8   Outlet_Size                12227 non-null  object
 9   Outlet_Location_Type       17047 non-null  object
 10  Outlet_Type                17047 non-null  object
 11  Item_Outlet_Sales          17047 non-null  object
dtypes: object(12)
memory usage: 1.7+ MB

looks like we have missing values in every column - i wonder if those are across the board - lets quickly do a drop nan all and see if we get some tighter columns

In [7]:
df_dirty.dropna(how = 'all', inplace = True)
df_dirty.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17049 entries, 1 to 17049
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            17049 non-null  object
 1   Item_Weight                14121 non-null  object
 2   Item_Fat_Content           17047 non-null  object
 3   Item_Visibility            17047 non-null  object
 4   Item_Type                  17047 non-null  object
 5   Item_MRP                   17047 non-null  object
 6   Outlet_Identifier          17047 non-null  object
 7   Outlet_Establishment_Year  17047 non-null  object
 8   Outlet_Size                12227 non-null  object
 9   Outlet_Location_Type       17047 non-null  object
 10  Outlet_Type                17047 non-null  object
 11  Item_Outlet_Sales          17047 non-null  object
dtypes: object(12)
memory usage: 1.7+ MB

that didnt seem to do much. lets see if we can find where those nan values are.

In [8]:
# df_dirty.isna().any()
df_dirty.tail()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
17045,FDS36,8.38,Regular,0.046982429,Baking Goods,108.157,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.285
17046,NCJ29,10.6,Low Fat,0.035186271,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
17047,FDN46,7.21,Regular,0.145220646,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
17048,DRG01,14.8,Low Fat,0.04487828,Soft Drinks,75.467,OUT046,1997,Small,Tier 1,Supermarket Type1,765.67
17049,>>>>>>> Stashed changes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

the last row is all NaN so lets drop that one for start

In [9]:
df_dirty.drop(17049, inplace = True)

In [10]:
# df_dirty[df_dirty.isnull().any(axis = 'rows')]

In [11]:
df_dirty[df_dirty['Item_Outlet_Sales'].isna()]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8524,=======,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

I desided to select a column that only had one NaN and locate its value. It turns out that it has the index of 8524. this is an index that isnt apearing on the tail. this makes me wonder if the index isnt sorted properly. I will perform that task now

In [12]:
# df_dirty.sort_index()
# df_dirty.iloc[8524]
df_dirty.loc[[8524]]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8524,=======,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

looks like i was wrong with it being at the end - row 8524 is all NaN - I will drop this now

In [13]:
df_dirty.drop(8524).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17047 entries, 1 to 17048
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            17047 non-null  object
 1   Item_Weight                14121 non-null  object
 2   Item_Fat_Content           17047 non-null  object
 3   Item_Visibility            17047 non-null  object
 4   Item_Type                  17047 non-null  object
 5   Item_MRP                   17047 non-null  object
 6   Outlet_Identifier          17047 non-null  object
 7   Outlet_Establishment_Year  17047 non-null  object
 8   Outlet_Size                12227 non-null  object
 9   Outlet_Location_Type       17047 non-null  object
 10  Outlet_Type                17047 non-null  object
 11  Item_Outlet_Sales          17047 non-null  object
dtypes: object(12)
memory usage: 1.7+ MB

that solved it so now lets lock that in with an inplace = True

In [14]:
df_dirty.drop(8524, inplace = True)

Now all we have left are two columns that have multiple NaN values. these will require a closer look to see what is going on and if there is any patern there. I will first look athe the type of data and then replace it with a known wrong data type and create a na_flag_df for future reference if we see a patern down the road.

In [15]:
df_na_flags = df_dirty.isna()
# df_na_flags

In [16]:
df_dirty['Item_Weight'].fillna('0.0', inplace = True)
### I CHOSE 0.0 AS THIS IS AN IMPOSIBLE NUMBER FOR A PRODUCT TO WEIGH 0.0
df_dirty.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17047 entries, 1 to 17048
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            17047 non-null  object
 1   Item_Weight                17047 non-null  object
 2   Item_Fat_Content           17047 non-null  object
 3   Item_Visibility            17047 non-null  object
 4   Item_Type                  17047 non-null  object
 5   Item_MRP                   17047 non-null  object
 6   Outlet_Identifier          17047 non-null  object
 7   Outlet_Establishment_Year  17047 non-null  object
 8   Outlet_Size                12227 non-null  object
 9   Outlet_Location_Type       17047 non-null  object
 10  Outlet_Type                17047 non-null  object
 11  Item_Outlet_Sales          17047 non-null  object
dtypes: object(12)
memory usage: 1.7+ MB

In [17]:
df_dirty['Outlet_Size'].nunique()
df_dirty['Outlet_Size'].value_counts()
# df_dirty['Outlet_Size'].loc(['Outlet_Size'])
df_dirty['Outlet_Size'].isna().value_counts() # 4820 NaN Values...

False    12227
True      4820
Name: Outlet_Size, dtype: int64

lets see if these are all tied to one outlet_identifier

In [18]:
outlet_id = list(dict(df_dirty['Outlet_Identifier'].value_counts()).keys())
outlet_id

['OUT027',
 'OUT013',
 'OUT046',
 'OUT049',
 'OUT035',
 'OUT045',
 'OUT018',
 'OUT017',
 'OUT010',
 'OUT019',
 'Outlet_Identifier']

why is the column heading showing up at the end of this list?

In [19]:
df_dirty['Outlet_Identifier'].value_counts()
df_dirty[df_dirty['Outlet_Identifier'] == 'Outlet_Identifier']

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8525,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales

interesting that 8525 is the same as the old heading and that there was a match to the last roww in 8524. lets see if the first rows after 8525 match those at the begining of the df.

In [20]:
df_dirty.loc[range(8526,8535)]['Item_Identifier'].tolist() == df_dirty.loc[range(1,10)]['Item_Identifier'].tolist()
df_dirty.loc[range(8526,8535)]['Outlet_Identifier'].tolist() == df_dirty.loc[range(1,10)]['Outlet_Identifier'].tolist()

True

it is looking like there is a copy at the end. lets drop that whole thing and see if it solves our issues with the list

In [21]:
df_dirty.loc[8525:]
df_dirty.drop_duplicates(inplace = True)

In [22]:
df_dirty.drop(8525, inplace = True)

In [23]:
list(dict(df_dirty['Outlet_Identifier'].value_counts()).keys())
df_na_flags = df_dirty.isna()
df_dirty.duplicated().value_counts()
df_dirty.isna().nunique()

0
Item_Identifier              1
Item_Weight                  1
Item_Fat_Content             1
Item_Visibility              1
Item_Type                    1
Item_MRP                     1
Outlet_Identifier            1
Outlet_Establishment_Year    1
Outlet_Size                  2
Outlet_Location_Type         1
Outlet_Type                  1
Item_Outlet_Sales            1
dtype: int64

looks like we are good and have some cleaner data...

In [24]:
outlet_size = list(dict(df_dirty['Outlet_Size'].value_counts()).keys())
outlet_size

['Medium', 'Small', 'High']

In [25]:
list(df_dirty[df_dirty['Outlet_Size'].isna()]['Outlet_Identifier'].value_counts().keys())
### LOOKS LIKE THE SIZE NAN IS ALL OVER THE PLACE
### LETS SEE IF WE CAN MATCH THE SIZE FROM OTHER ROWS

['OUT045', 'OUT017', 'OUT010']

In [26]:
df_dirty[df_dirty['Outlet_Identifier'] == 'OUT045']
### No other outlet_identifier is holding the data we need.
### Next look at outlet type and see if type matches with outlet size

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
9,FDH17,16.2,Regular,0.016687114,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
34,FDO23,17.85,Low Fat,0,Breads,93.1436,OUT045,2002,NaN,Tier 2,Supermarket Type1,2174.5028
47,NCP05,19.6,Low Fat,0,Health and Hygiene,153.3024,OUT045,2002,NaN,Tier 2,Supermarket Type1,2428.8384
48,FDV49,10,Low Fat,0.025879577,Canned,265.2226,OUT045,2002,NaN,Tier 2,Supermarket Type1,5815.0972
57,NCX54,9.195,Low Fat,0.048157338,Household,106.1622,OUT045,2002,NaN,Tier 2,Supermarket Type1,2117.244
...,...,...,...,...,...,...,...,...,...,...,...,...
8484,DRI11,8.26,Low Fat,0.03447406,Hard Drinks,117.0834,OUT045,2002,NaN,Tier 2,Supermarket Type1,1612.5676
8503,NCH43,8.42,Low Fat,0.070712031,Household,216.4192,OUT045,2002,NaN,Tier 2,Supermarket Type1,3020.0688
8509,FDW31,11.35,Regular,0.04324563,Fruits and Vegetables,199.4742,OUT045,2002,NaN,Tier 2,Supermarket Type1,2587.9646
8515,FDA01,15,Regular,0.054488534,Canned,57.5904,OUT045,2002,NaN,Tier 2,Supermarket Type1,468.7232
8520,FDS36,8.38,Regular,0.046982429,Baking Goods,108.157,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.285

In [27]:
df_dirty[(df_dirty['Outlet_Type'] == 'Supermarket Type1') & (df_dirty['Outlet_Location_Type'] == 'Tier 2')][['Outlet_Identifier', 'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type']]
### Looks like we found a way to fil the missing values in Outlet_Size
df_dirty.loc[df_dirty['Outlet_Identifier'] == 'OUT045', 'Outlet_Size'] = 'Small'

In [28]:
df_dirty[df_dirty['Outlet_Identifier'] == 'OUT017']
df_dirty[df_dirty['Outlet_Location_Type'] == 'Tier 2']['Outlet_Size'].nunique()
### LOOKS LIKE IT IS ANOTHER TIER 2 therefor it is Small
df_dirty.loc[df_dirty['Outlet_Identifier'] == 'OUT017', 'Outlet_Size'] = 'Small'

In [29]:
df_dirty[df_dirty['Outlet_Identifier'] == 'OUT010'] ### Tier 3
df_dirty[(df_dirty['Outlet_Location_Type'] == 'Tier 3') & (df_dirty['Outlet_Type'] == 'Grocery Store')]
df_dirty[df_dirty['Outlet_Type'] == 'Grocery Store']['Outlet_Size'].nunique()
#df_dirty[(df_dirty['Outlet_Location_Type'] == 'Tier 3') & (df_dirty['Outlet_Type'] == 'Grocer Store')]#['Outlet_Size']#.nunique()

1

I got to fix two of the outlet identifier sizes but cant determain as of now what the other one is. I might be back if i can figure this out when looking through the data more.... after further looking i am assuming all grocery stores are "Small"

In [30]:
df_dirty.loc[df_dirty['Outlet_Identifier'] == 'OUT010', 'Outlet_Size'] = 'Small'

In [31]:
df_dirty.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8523 entries, 1 to 8523
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   object
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   object
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   object
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   object
 8   Outlet_Size                8523 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   object
dtypes: object(12)
memory usage: 865.6+ KB

### Converting DType ###

In [32]:
df_dirty.head(3)
# df_dirty.info()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
1,FDA15,9.3,Low Fat,0.016047301,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.138
2,DRC01,5.92,Regular,0.019278216,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
3,FDN15,17.5,Low Fat,0.016760075,Meat,141.618,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.27

In [33]:
df_clean = df_dirty.astype({'Item_Weight': float, 'Item_Fat_Content': 'category', 'Item_Visibility': float, 'Item_Type': 'category', 'Item_MRP': float, 'Outlet_Identifier': 'category', 'Outlet_Establishment_Year': int, 'Outlet_Size': 'category', 'Outlet_Location_Type': 'category', 'Outlet_Type': 'category', 'Item_Outlet_Sales': float})
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8523 entries, 1 to 8523
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   category
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   category
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   category
 7   Outlet_Establishment_Year  8523 non-null   int32
 8   Outlet_Size                8523 non-null   category
 9   Outlet_Location_Type       8523 non-null   category
 10  Outlet_Type                8523 non-null   category
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: category(6), float64(4), int32(1), object(1)
memory usage: 484.5+ KB

In [35]:
df_clean.to_csv('sales_predictions_clean.csv', index = False)